*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(170, 250, 250);
    
}
div{
    background-color: rgb(223, 190, 254);    
    height: 100vh;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.output{
    font-size:2em;
    font-weight: bolder;
}

#length{
    font-size: 1em;
    margin-top: 1em;
    width: 100px;
    padding:5px;
}
option{
    font-size: 1em; 
}
button{
    padding:0.5em;
    font-size: 1em;
    border-radius: 20px;
}